.navbar {
  background-color: #9b6036; 
}

.home-container {
    padding: 40px;
    text-align: center;
    color: #9b6036;
  }
  
  .home-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .highlight-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .highlight {
    flex: 1;
    padding: 20px;
    border: 1px solid#9b6036;
    border-radius: 8px;
    margin: 0 10px;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color:#9b6036;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #9b6036;
    }
  }
  



th {
  background-color: #9b6036; 
  color: #fff; 
}


td {

}

/* HomePage.css */
.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-image {
  position: relative;
}



.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color to semi-transparent black */
  color: white;
  max-width: 500px;
  text-align: center;
}

.contact-us-section {
  /*background-color:  #9b6036;  /* Brown background color */
  /*color: #fff;                /* White text color */
  padding: 200px;             /* Add padding for spacing */

  /* Ensure the contact info is aligned to the left */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Style the title and subtitle */
.contact-us-section h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.contact-us-section p {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Style the icons */
.contact-us-section svg {
  margin-right: 8px;
}

@media (max-width: 640px) {
  .carousel-item p{
    font-size: 18px;
  }
  .search-filter{
    max-width: 70%;
    margin: auto;
  }
  .carousels-container{
    flex-direction: column;
  }
  .carousels-container .carousel.slide{
    width: 100%;
  }
 
  .userInfo_container a[href="/contact"]{
    display: none;
  }
  .userInfo{
    display: none;
  }

  .carousel-caption h1 {
    font-size: medium;
  }

  .carousel-caption p {
    font-size: small;
  }
 
}

.carousel-item img{
  width: 100%;
 
}